@media only screen and (max-width: 1400px) {
  .course-box {
    width: 30%;
  }
}

@media only screen and (max-width: 1200px) {
  /* home section hero  */
  .home-hero-section-first {
    background-position: 60%;
  }

  /* project section hero  */
  .project-hero-section-first {
    background-position: 60%;
  }

  /* course section hero  */
  .course-hero-section-first {
    background-position: 62%;
  }

  .menus {
    width: 500px !important;
    margin-left: -40px;
  }

  .course-box {
    width: 48%;
  }

  .expect-from-coursify {
    margin-bottom: 200px;
  }

  .expect-from-coursify .efc {
    margin-top: 120px;
  }

  .efc .text h4 {
    margin-left: 20px;
  }

  .efc-1,
  .efc-2 {
    margin-top: -40px;
  }
  .project .course-box .student i {
    margin-left: -130px;
    padding: 10px;
  }

  .project .project-details {
    width: 48%;
  }
}

@media only screen and (max-width: 720px) {
  /* home section hero  */
  .home-hero-section-first {
    background-position: 70%;
  }

  header nav .menus,
  header nav .user {
    display: none;
  }

  #myTopnav {
    justify-content: space-between;
  }

  .hamburger-icon {
    display: block;
    margin-left: 40px;
    padding: 5px;
  }

  .respo-menus {
    margin: 0 auto;
    animation: moveFromTop 300ms ease-in-out;
    position: absolute;
    top: 43px;
  }

  .respo-menus a:hover {
    color: #ee6001;
  }

  .respo-menus ul {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }

  #body > button {
    margin-left: 25%;
  }

  @keyframes moveFromTop {
    from {
      opacity: 0;
      transform: translateY(-200%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .slideshow-container {
    margin-top: -25px;
    height: 500px;
  }

  .slideshow-container img {
    height: 500px;
  }

  .course-box {
    width: 100%;
  }

  .expect-from-coursify .col-2 {
    display: block !important;
  }

  .efc .text {
    width: 100%;
  }

  .efc {
    margin-top: 100px;
    margin-left: -35px;
  }

  .efc-2 {
    margin-top: 10px;
    margin-left: 8px;
  }

  .expect-from-coursify {
    margin-bottom: 420px;
  }

  .project .course-box .student i {
    margin-left: -110px;
    padding: 10px;
  }

  .project .project-details {
    width: 100%;
  }

  .courses-content .col-1 {
    /* display: block !important; */
    width: 100% !important;
    margin-bottom: 20px;
  }

  .courses-content .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 280px) {
  .course-box p {
    height: 100px;
    max-height: 100px;
  }

  #body > button {
    margin-left: 0;
  }
}
